Getting the data

In [2]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

In [10]:
birth_places

['Ireland',
 'Ireland',
 'New York',
 'England',
 'Ireland',
 'Germany',
 'New York',
 'Ireland',
 'Ireland',
 'Scotland',
 'Ireland',
 'England',
 'Ireland',
 'Wales',
 'Ireland',
 'Ireland',
 'Scotland',
 'Ireland',
 'Germany',
 'Ireland']

Exploring contents of lists

In [17]:
print(f"The length of the ages list is {len(ages)}")

The length of the ages list is 20

In [19]:
occupations[0:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [21]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'teacher': 1,
         'blacksmith': 1,
         'carpenter': 2,
         'weaver': 1})

In [27]:
Counter(birth_places)

Counter({'Ireland': 11,
         'New York': 2,
         'England': 2,
         'Germany': 2,
         'Scotland': 2,
         'Wales': 1})

In [29]:
for number, occupation in enumerate(occupations):
    print(f"Person #{number}: {occupation}")

Person #0: farmer
Person #1: servant
Person #2: laborer
Person #3: merchant
Person #4: farmer
Person #5: servant
Person #6: teacher
Person #7: farmer
Person #8: laborer
Person #9: merchant
Person #10: servant
Person #11: farmer
Person #12: laborer
Person #13: blacksmith
Person #14: carpenter
Person #15: servant
Person #16: farmer
Person #17: weaver
Person #18: servant
Person #19: carpenter

In [37]:
for number, age in enumerate(ages):
    print(f"Person #{number}: {age}")

Person #0: 45
Person #1: 23
Person #2: 16
Person #3: 34
Person #4: 64
Person #5: 28
Person #6: 42
Person #7: 31
Person #8: 27
Person #9: 38
Person #10: 17
Person #11: 52
Person #12: 29
Person #13: 44
Person #14: 33
Person #15: 15
Person #16: 61
Person #17: 36
Person #18: 18
Person #19: 41

Creating a new list

In [40]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"Number of skilled laborers: {len(skilled_laborers)}")

Number of skilled laborers: 4

In [42]:
print(skilled_laborers)

['blacksmith', 'carpenter', 'weaver', 'carpenter']

In [44]:
united_kingdom = []
for place in birth_places:
    if place == 'England' or place == 'Wales' or place == 'Ireland':
        united_kingdom.append(place)
print(f"Number of people in UK: {len(united_kingdom)}")

Number of people in UK: 14

In [46]:
united_kingdom

['Ireland',
 'Ireland',
 'England',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'England',
 'Ireland',
 'Wales',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland']

In [50]:
youths = []
for person in ages:
    if person < 30:
        youths.append(person)
print(youths)

[23, 16, 28, 27, 17, 29, 15, 18]