In [1]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

In [3]:
# Start with an empty dictionary
auto_census = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [7]:
#Print out the entry for Anna Schmidt
print(auto_census["Anna Schmidt"])

{'age': 28, 'birth_place': 'Germany', 'occupation': 'servant'}

In [11]:
print(auto_census["Donald Fraser"]["birth_place"])

Scotland